*{
	margin:  0px;
	padding:  0px;
}
body{
	background-color: lightblue;
}
ul{
	margin: 0;
	padding: 0;
	list-style: none;
	height: 43px;
	width: 100%;
	background-color: black;
	line-height: 43px;
	font-size: 20px;
}
.library{
	float: left;
	color: white;
	border-right: none;
	border-left: none;
}
.contact{
	border-right: none;
}
.home{
	border-left: 2px solid white;
}
li{
	float: right;
	border-right: 1px solid white;
	border-left: 1px solid white;
}
a{
	display: block;
	padding: 0 28px;
	color: white;
	text-decoration: none;
}

a:hover{
	background-color: lightblue;
}
.table{
	text-align: center;
	width: 100%;
	height: 800px;
	margin: 20px auto 0px auto;
}
h1{
	text-align: center;
}
table{
	background-image: url('b2.jpg');
	background-size: 100% 100%;
	background-color: rgba(0, 0, 0, 0.2);
	text-align: left;
	border-collapse: collapse;
	width: 100%;
	color: black;
	font-size: 25px;
	border: 2px solid red;
}
.transaction{
	text-align: left;
	font-size: 25px;
	color: black;
	width: 200px;
	padding: 0px 5px;
	background-color: #1e81b0;
}
th{
	background-color: #1e81b0;
	text-align: left;
	border: 2px solid darkblue;
	padding: 25px 16px;
}
td{
	text-align: left;
	border: 2px solid darkblue;
	padding: 25px 16px;
}
